body {
	background-color: #e3f2fd;
}

nav > div > ul > li> a {
	color: white;
	font-weight: bold;
}

nav > div > ul > li> a:hover {
	color: powderblue;
}

.navbar-header>a {
	color: white !important;
	font-weight: bold;
}

.navbar-header>a:hover {
	color: powderblue !important;
}

.nav-item {
	margin: 8px;
}

.navbar-brand{
	font-size: 25px;
}

.navbar-nav, .navbar-right{
	font-size: 20px;
}

.container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.status-na-cekanju {
	color: limegreen;
	font-weight: bold;
}

.status-odbijen {
	color: red;
}

.sortDugmeKartica {
	margin-bottom: 30px;
}

.pogledaj-komentare {
	margin-top: 30px;
	margin-bottom: 30px;
}

.tabela-prikaz-knjige {
	margin-left:-180px;
}

.body-error{
  margin-top: 150px;
	background-color: #C4CCD9;
}
.error-main{
  background-color: #fff;
  box-shadow: 0px 10px 10px -10px #5D6572;
}
.error-main h1{
  font-weight: bold;
  color: #444444;
  font-size: 100px;
  text-shadow: 2px 4px 5px #6E6E6E;
}
.error-main h6{
  color: #42494F;
}
.error-main p{
  color: #9897A0;
  font-size: 14px; 
}

.listaZeljaForm {
	margin-top: 25px;
}