<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Knjizara - knjiga detalji</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" th:if="${errorMessage!=null}">
			<strong th:text="${errorMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<h1>Knjiga</h1>
		</div>
		<div>
			<table class="table table-striped table-bordered tabela-prikaz-knjige">
				<thead class="thead-dark">
					<tr>
						<th>ISBN</th>
						<th>Naziv</th>
						<th>Izdavacka kuca</th>
						<th>Autor</th>
						<th>Godina izdavanja</th>
						<th>Kratak opis</th>
						<th>Cena</th>
						<th>Broj stranica</th>
						<th>Povez</th>
						<th>Pismo</th>
						<th>Jezik</th>
						<th>Prosecna ocena knjige</th>
						<th>Broj primeraka</th>
						<th>Zanr</th>
						<th>Slika</th>
					</tr>
				</thead>
				<tbody id="knjigaTabela">
					<tr>
						<td id="knjigaIsbn" th:text="${knjiga.isbn}">ISBN</td>
						<td th:text="${knjiga.naziv}">Naziv</td>
						<td th:text="${knjiga.izdavackaKuca}">Izdavacka kuca</td>
						<td th:text="${knjiga.autor}">Autor</td>
						<td th:text="${knjiga.godinaIzdavanja}">Godina izdavanja</td>
						<td th:text="${knjiga.kratakOpis}">Kratak opis</td>
						<td id="knjigaCena" th:text="${knjiga.cena}">Cena</td>
						<td th:text="${knjiga.brojStranica}">Broj stranica</td>
						<td th:text="${knjiga.povez}">Povez</td>
						<td th:text="${knjiga.pismo}">Pismo</td>
						<td th:text="${knjiga.jezik}">Jezik</td>
						<td th:text="${knjiga.prosecnaOcenaKnjige}">Prosecna ocena
							knjige</td>
						<td id="knjigaBrojPrimeraka" th:text="${knjiga.brojPrimeraka}">Broj
							primeraka</td>
						<td><p th:each="zanr: ${knjiga.zanrovi}"
								th:text="${zanr.ime}"></p></td>
								<td><img alt="" th:src="*{'data:image/*;base64,'+{slika}}" style="width: 100px;height: 100px;"></td>
					</tr>
				</tbody>
			</table>
			<div class="pogledaj-komentare">
				<a role="button" class="btn btn-info"
					th:href="@{/knjiga/komentar/} + ${knjiga.isbn}">Pogledaj
					komentare citalaca</a>
			</div>

		</div>
		<div sec:authorize="isAuthenticated()">
			<div th:if="${#request.userPrincipal.principal.isAdmin()}">
				<a class="btn btn-primary"
					th:href="@{'/knjiga/azuriraj/' + ${knjiga.isbn}}" role="button">Azuriraj</a>
			</div>
			<div th:if="${#request.userPrincipal.principal.isKupac()}">
				<form th:action="@{/korpa}" method="post"
					style="max-width: 600px; margin: 0 auto" th:object="${korpa}">
					<p id="pKorisnikId" hidden>[[${#request.userPrincipal.principal.KorisnikId}]]</p>
					<input id="korpaKnjigaId" type="text" name="knjiga_id" hidden /> <input
						id="korpaKorisnikId" type="text"
						th:value="${#request.userPrincipal.principal.KorisnikId}"
						name="korisnik_id" hidden /> <label for="korpaBrojPrimeraka">Broj
						primeraka: </label> <input id="korpaBrojPrimeraka" type="number" value="1"
						min="1" th:field="*{brojPrimeraka}" /> <label for="korpaCena">Cena:
					</label> <input id="korpaCena" type="number" th:field="*{cena}" readonly />
					<div>
						<button type="submit" class="btn btn-primary">Ubaci u
							korpu</button>
					</div>
				</form>
				<div class="listaZeljaForm">
					<form th:action="@{/listaZelja}" method="post"
						style="max-width: 600px; margin: 0 auto" th:object="${listaZelja}">
						<input id="listaZeljaKnjigaId" type="text" name="knjiga_id" hidden />
						<input id="listaZeljaKorisnikId" type="text"
							th:value="${#request.userPrincipal.principal.KorisnikId}"
							name="korisnik_id" hidden />
						<div>
							<button type="submit" class="btn btn-primary">Ubaci u
								listu zelja</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="template :: scriptFrag"></div>
	<script>
		$(document).ready(function() {
			var isbn = $("#knjigaIsbn").text();
			var korisnikId = $("#pKorisnikId").text();
			var brojPrimeraka = $("#knjigaBrojPrimeraka").text();
			var cena = $("#knjigaCena").text();

			$("#korpaKnjigaId").val(isbn);
			$("#korpaKorisnikId").val(korisnikId);
			$("#korpaBrojPrimeraka").val(1).attr("max", brojPrimeraka);
			$("#korpaCena").val(cena);

			$("#korpaBrojPrimeraka").change(function() {
				var ukupnaCena = cena * $("#korpaBrojPrimeraka").val();
				$("#korpaCena").val(ukupnaCena);
			});
			
			$("#listaZeljaKnjigaId").val(isbn);
			$("#listaZeljaKorisnikId").val(korisnikId);

		});
	</script>
</body>
</html>