<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Azuriranje knjige - Knjizara</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center" th:if="${#request.userPrincipal.principal.isAdmin()}">
		<div>
			<h1>Azuriranje knjige</h1>
		</div>
		<form th:action="@{/knjige/azuriraj}" th:method="PUT" enctype="multipart/form-data"
			style="max-width: 600px; margin: 0 auto" th:object="${knjiga}">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Naziv</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{naziv}"
							required value="${knjiga.naziv}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">ISBN</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{isbn}"
							required value="${knjiga.isbn}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Izdavacka kuca</label>
					<div class=col-8>
						<input type="text" class="form-control"
							th:field="*{izdavackaKuca}" required
							value="${knjiga.izdavackaKuca}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Autor</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{autor}"
							required value="${knjiga.autor}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Izgled korice</label>
					<div class=col-8>
						<input type="file" name="file"
							 required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Godina izdavanja</label>
					<div class=col-8>
						<input type="number" class="form-control"
							th:field="*{godinaIzdavanja}" required
							value="${knjiga.godinaIzdavanja}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Kratak opis</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{kratakOpis}"
							required value="${knjiga.kratakOpis}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Cena</label>
					<div class=col-8>
						<input type="number" class="form-control" th:field="*{cena}"
							required value="${knjiga.cena}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Broj primeraka</label>
					<div class=col-8>
						<input type="number" class="form-control"
							th:field="*{brojPrimeraka}" required
							value="${knjiga.brojPrimeraka}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Broj stranica</label>
					<div class=col-8>
						<input type="number" class="form-control"
							th:field="*{brojStranica}" required
							value="${knjiga.brojStranica}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Povez</label>
					<div class=col-8>
						<select name="povez" id="povez" class="form-control"
							th:field="*{povez}">
							<option
								th:each="vrstaPoveza: ${T(web.knjizara.knjiga.Povez).values()}"
								th:value="${vrstaPoveza}" th:text="${vrstaPoveza}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Pismo</label>
					<div class=col-8>
						<select name="pismo" id="pismo" class="form-control"
							th:field="*{pismo}">
							<option
								th:each="vrstaPisma: ${T(web.knjizara.knjiga.Pismo).values()}"
								th:value="${vrstaPisma}" th:text="${vrstaPisma}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Jezik</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{jezik}"
							required value="${knjiga.jezik}" />
					</div>
				</div>
				<div class="form-group row" th:each="zanr : ${mapaZanrova}">
					<label class="col-form-label col-4" th:text="${zanr.key.ime}">Zanr</label>
					<div class=col-8>
						<input type="checkbox" class="form-control" name="zanrIds"
							th:value="${zanr.key.id}" th:checked="${zanr.value}" />
					</div>
				</div>
				<div>
					<input type="number" th:field="*{prosecnaOcenaKnjige}"
						th:value="${knjiga.prosecnaOcenaKnjige}" hidden />
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Azuriraj
					knjigu</button>
			</div>
		</form>
	</div>
			<div th:if="${#request.userPrincipal.principal.isKupac()}">
			<h4>
				<a th:href="@{/knjige}">Niste prijavljeni kao administrator.
					Klikni za pregled knjiga</a>
			</h4>
		</div>
	<div th:replace="template :: scriptFrag"></div>
</body>
</html>