<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Dodavanje knjige - Knjizara</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center" >
		<div>
			<h1>Dodavanje knjige</h1>
		</div>
		<div th:if="${#request.userPrincipal.principal.isAdmin()}">
			<form th:action="@{/knjige}" method="post" enctype="multipart/form-data"
				style="max-width: 600px; margin: 0 auto" th:object="${knjiga}">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Naziv</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{naziv}"
								required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">ISBN</label>
						<div class=col-8>
							<input type="text" minlength=13 maxlength=13 class="form-control" th:field="*{isbn}"
								required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Izdavacka kuca</label>
						<div class=col-8>
							<input type="text" class="form-control"
								th:field="*{izdavackaKuca}" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Autor</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{autor}"
								required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Godina izdavanja</label>
						<div class=col-8>
							<input type="number" class="form-control"
								th:field="*{godinaIzdavanja}" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Izgled korica</label>
						<div class=col-8>
							<input type="file" class="form-control"
								name="file" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Kratak opis</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{kratakOpis}"
								required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Cena</label>
						<div class=col-8>
							<input type="number" class="form-control" th:field="*{cena}"
								required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Broj primeraka</label>
						<div class=col-8>
							<input type="number" class="form-control"
								th:field="*{brojPrimeraka}" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Broj stranica</label>
						<div class=col-8>
							<input type="number" class="form-control"
								th:field="*{brojStranica}" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Povez</label>
						<div class=col-8>
							<select name="povez" id="povez" class="form-control"
								th:field="*{povez}">
								<option
									th:each="vrstaPoveza: ${T(web.knjizara.knjiga.Povez).values()}"
									th:value="${vrstaPoveza}" th:text="${vrstaPoveza}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Pismo</label>
						<div class=col-8>
							<select name="pismo" id="pismo" class="form-control"
								th:field="*{pismo}">
								<option
									th:each="vrstaPisma: ${T(web.knjizara.knjiga.Pismo).values()}"
									th:value="${vrstaPisma}" th:text="${vrstaPisma}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Jezik</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{jezik}"
								required />
						</div>
					</div>
					<div class="form-group row" th:each="zanr: ${listaZanrova}">
						<label class="col-form-label col-4" th:text="${zanr.ime}">Zanr</label>
						<div class=col-8>
							<input type="checkbox" class="form-control" name="zanrIds"
								th:value="${zanr.id}" />
						</div>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Dodaj knjigu</button>
				</div>
			</form>
		</div>
		<div th:if="${#request.userPrincipal.principal.isKupac()}">
			<h4>
				<a th:href="@{/knjige}">Niste prijavljeni kao administrator.
					Klikni za pregled knjiga</a>
			</h4>
		</div>
	</div>
	<div th:replace="template :: scriptFrag"></div>
</body>
</html>