<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<<div th:replace="template :: header"></div>
<title>Knjizara - Lista knjiga</title>
</head>

<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Lista knjiga</h1>
		</div>
		<div>
			<input id="pretraga" type="text" placeholder="Pretraga..."> <br>
			<br>
		</div>
		<div>
			<table class="table table-striped table-bordered tabela-prikaz-knjige" id="tabelaSort">
				<thead class="thead-dark">
					<tr>
						<th onclick="sortTable(0)">ISBN <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(1)">Naziv <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(2)">Izdavacka kuca <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(3)">Autor <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(4)">Godina izdavanja <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(5)">Kratak opis <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(6)">Cena <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(7)">Broj stranica <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(8)">Povez <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(9)">Pismo <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(10)">Jezik <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(11)">Prosecna ocena knjige <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(12)">Broj primeraka <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(13)">Zanr <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
							<th>Slika</th>
							
					</tr>
				</thead>
				<tbody id="knjigeTabela">
					<tr th:each="knjiga: ${listaKnjiga}">
						<td th:text="${knjiga.isbn}">ISBN</td>
						<td><a th:href="@{'/knjiga/' + ${knjiga.isbn}}"
							th:text="${knjiga.naziv}">Naziv</a></td>
						<td th:text="${knjiga.izdavackaKuca}">Izdavacka kuca</td>
						<td th:text="${knjiga.autor}">Autor</td>
						<td th:text="${knjiga.godinaIzdavanja}">Godina izdavanja</td>
						<td th:text="${knjiga.kratakOpis}">Kratak opis</td>
						<td th:text="${knjiga.cena}" class="cena-knjige">Cena</td>
						<td th:text="${knjiga.brojStranica}">Broj stranica</td>
						<td th:text="${knjiga.povez}">Povez</td>
						<td th:text="${knjiga.pismo}">Pismo</td>
						<td th:text="${knjiga.jezik}">Jezik</td>
						<td th:text="${knjiga.prosecnaOcenaKnjige}" class="ocena-knjige">Prosecna ocena
							knjige</td>
						<td th:text="${knjiga.brojPrimeraka}">Broj primeraka</td>
						<td><p th:each="zanr: ${knjiga.zanrovi}"
								th:text="${zanr.ime}"></p></td>
								<td><img alt="" th:src="*{'data:image/*;base64,'+{knjiga.slikaKnjige}}" style="width: 100px;height: 100px;">Slika</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div sec:authorize="isAuthenticated()">
			<div th:if="${#request.userPrincipal.principal.isAdmin()}">
				<a class="btn btn-primary" th:href="@{/knjige/dodavanje}"
					role="button">Dodaj knjigu</a>
			</div>
		</div>
	</div>
	<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#pretraga").on("keyup",function() {
			var value = $(this).val().toLowerCase();
			$("#knjigeTabela tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});
			});
		});
	</script>
	<script>
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("tabelaSort");
			switching = true;
			// Set the sorting direction to ascending:
			dir = "asc";
			/* Make a loop that will continue until
			no switching has been done: */
			while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.rows;
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i = 1; i < (rows.length - 1); i++) {
					// Start by saying there should be no switching:
					shouldSwitch = false;
					/* Get the two elements you want to compare,
					one from current row and one from the next: */
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					var cmpX=isNaN(parseInt(x.innerHTML))?x.innerHTML.toLowerCase():parseInt(x.innerHTML);
                    var cmpY=isNaN(parseInt(y.innerHTML))?y.innerHTML.toLowerCase():parseInt(y.innerHTML);
					/* Check if the two rows should switch place,
					based on the direction, asc or desc: */
					if (dir == "asc") {
						if (cmpX > cmpY) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					} else if (dir == "desc") {
						if (cmpX < cmpY) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					// Each time a switch is done, increase this count by 1:
					switchcount++;
				} else {
					/* If no switching has been done AND the direction is "asc",
					set the direction to "desc" and run the while loop again. */
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
</body>
</html>