<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Komentari na cekanju</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center" th:if="${#request.userPrincipal.principal.isAdmin()}">
		<div>
			<h1>Komentari na cekanju</h1>
		</div>

			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Datum</th>
							<th>ISBN knjige</th>
							<th>Autor</th>
							<th>Komentar</th>
							<th>Ocena</th>
							<th>Status komentara</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="komentarTabela">
						<tr th:each="entry, stats : ${mapaKomentara}"
							th:with="komentar=${entry.key}" class="redKartica">
							<td class="komentar-id" th:text="${komentar.id}" hidden>Id</td>
							<td th:text="${komentar.datumKomentara}">Datum</td>
							<td th:text="${komentar.knjigaId}">ISBN</td>
							<td th:text="${entry.value.korisnickoIme}">Autor</td>
							<td th:text="${komentar.tekstKomentara}">Komentar</td>
							<td th:text="${komentar.ocena}">Ocena</td>
							<td th:text="${komentar.statusKomentara}" class="status-na-cekanju">Status komentara</td>
							<td class="odobrenje-zahteva">
								<button class="btn btn-primary prosledi-zahtev" type="button"
									data-value="1">Potvrdi</button>
								<button class="btn btn-danger prosledi-zahtev" type="button"
									data-value="2">Ponisti</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="template :: scriptFrag"></div>
	<script>
	$(document).ready(function () {
		$("#pretraga").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#komentarTabela tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				});
		});
		
		$('.prosledi-zahtev').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var komentarStatusTableRow = $(this).closest("tr").find(".status-na-cekanju");
			var odobrenjeZahtevaTableRow = $(this).closest("tr").find(".odobrenje-zahteva");
			var komentarId = $(this).closest("tr").find(".komentar-id").text();
			var statusKomentara = $(this).data("value");
		     $.ajax({
		      
		            url: `/admin/komentarStatus?komentarId=${komentarId}&statusKomentara=${statusKomentara}&method=get`,
		             type: 'GET',
					dataType: 'json',
				contentType:'application/json',
				complete: function(statusKomentara){
				window.location.reload();
	            	},
		          
		        });
		    }); 
	});
	</script>
</body>
</html>