<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Komentari na cekanju</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="komentari">
			<div>
				<h2 th:text="${knjiga.naziv} + ' - komentari citalaca'"></h2>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Autor</th>
						<th>Komentar</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody id="komentarTabela">
					<tr th:each="entry, stats : ${mapaKomentara}">
						<td th:text="${entry.key.datumKomentara}">Datum</td>
						<td th:text="${entry.value.korisnickoIme}">Autor</td>
						<td th:text="${entry.key.tekstKomentara}">Komentar</td>
						<td th:text="${entry.key.Ocena}">Ocena</td>
					</tr>
				</tbody>
			</table>
			<div class="pogledaj-komentare">
				<a role="button" class="btn btn-info"
					th:href="@{/knjiga/} + ${knjiga.isbn}">Vrati se na detalje
					knjige</a>
			</div>
		</div>
	</div>
	<div class="container text-center"
		th:if="${korisnik.isKupljenaKnjiga}">
		<p id="tekstKorisnikId"
			th:text="${#request.userPrincipal.principal.KorisnikId}" hidden></p>
		<p id="tekstKnjigaId" th:text="${knjiga.isbn}" hidden></p>
		<form th:action="@{/komentar/dodavanje}" method="post"
			style="max-width: 600px; margin: 0 auto" th:object="${komentar}">
			<input type="text" th:field="*{korisnikId}" id="korisnikId"
				value="${#request.userPrincipal.principal.KorisnikId}" hidden /> 
				<input th:field="*{knjigaId}" id="knjigaId" type="text" value="${knjiga.isbn}" hidden />
			<div class="form-group">
				<label for="tekstKomentara">Napisi komentar</label>
				<textarea class="form-control" th:field="*{tekstKomentara}" rows="3"></textarea>
			</div>
			<div class="form-group row">
				<label class="col-form-label col-4">Ocena</label>
				<div class=col-8>
					<select th:field="*{ocena}" class="form-control">
						<option value="5">5</option>
						<option value="4">4</option>
						<option value="3">3</option>
						<option value="2">2</option>
						<option value="1">1</option>
					</select>
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Posalji
					komentar</button>
			</div>
		</form>
	</div>
	<div th:replace="template :: scriptFrag"></div>
	<script>
	$(document).ready(function() {
		var $isbn = $("#tekstKnjigaId").text();
		var $korisnikId = $("#tekstKorisnikId").text();

		$("#knjigaId").val($isbn);
		$("#korisnikId").val($korisnikId);

	});
	</script>
</body>
</html>