<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Knjizara - Lista korisnika</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Lista korisnika</h1>
		</div>
		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Korisnik ID</th>
						<th>E-mail</th>
						<th>Korisnicko ime</th>
						<th>Datum i vreme registracije</th>
						<th>Korisnicka uloga</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="korisnik: ${listaKorisnika}">
						<td th:text="${korisnik.id}">Korisnik ID</td>
						<td th:text="${korisnik.email}">E-mail</td>
						<td><a th:href="@{'/admin/korisnici/profil/' + ${korisnik.id}}" th:text="${korisnik.korisnickoIme}">Korisnicko ime</a></td>
						<td th:text="${korisnik.vremeRegistracije}">Datum i vreme registracije</td>
						<td th:text="${korisnik.uloga}">Korisnicka uloga</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>