<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<
<div th:replace="template :: header"></div>
<title>Korisnik profil</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>[[${#request.userPrincipal.principal.getImeIPrezime()}]]</h1>
			<h4>[[${#request.userPrincipal.principal.Uloga}]]</h4>
		</div>
		<div>
			<form method="get" style="max-width: 600px; margin: 0 auto"
				th:object="${korisnik}">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Korisnicko ime</label>
						<div class=col-8>
							<input type="text" class="form-control"
								th:field="*{korisnickoIme}" required readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">E-mail</label>
						<div class=col-8>
							<input type="email" class="form-control" th:field="*{email}"
								required readonly />
						</div>
					</div>
				</div>
				<div class="m-3">
					<div class="form-group row">
						<label class="col-form-label col-4">Ime</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{ime}"
								required minlenght="2" maxlenght="20" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Prezime</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{prezime}"
								required minlenght="2" maxlenght="20" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Datum rodjenja</label>
						<div class=col-8>
							<input type="date" class="form-control"
								th:field="*{datumRodjenja}" value="2000-01-01" required
								min="1940-01-01" max="2021-01-01" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Adresa</label>
						<div class=col-8>
							<input type="text" class="form-control" th:field="*{adresa}"
								required readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-4">Broj telefona</label>
						<div class=col-8>
							<input type="text" class="form-control"
								th:field="*{brojTelefona}" required readonly />
						</div>
					</div>
					<div>
						<a role="button" th:href="@{/korisnici/profil/azuriraj}"
							class="btn btn-primary">Izmeni podatke</a>
					</div>
				</div>
				<div>
					<a role="btn" class="btn btn-info"
						th:href="@{'/knjige/prikaziKupovine/'+ ${korisnik.id}}">Prikazi
						kupovine korisnika</a>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>