<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
	<script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src = "@{/js/index.js}"></script>
<title>Korpa</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
			<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div th:if="${#request.userPrincipal.principal.isKupac()}">
			<h1>Korpa</h1>
		</div>
		<div th:if="${listaKorpa!=null and !listaKorpa.empty}">
			<div>
				<input id="pretraga" type="text" placeholder="Pretraga...">
				<br> <br>
			</div>
		
			<div>
				<table class="table table-striped table-bordered tabela-prikaz-knjige">
					<thead class="thead-dark">
						<tr>
							<th onclick="sortTable(0)">ISBN</th>
							<th onclick="sortTable(1)">Naziv</th>
							<th onclick="sortTable(2)">Izdavacka kuca</th>
							<th onclick="sortTable(3)">Autor</th>
							<th onclick="sortTable(4)">Godina izdavanja</th>
							<th onclick="sortTable(5)">Kratak opis</th>
							<th onclick="sortTable(6)">Cena</th>
							<th onclick="sortTable(7)">Broj stranica</th>
							<th onclick="sortTable(8)">Povez</th>
							<th onclick="sortTable(9)">Pismo</th>
							<th onclick="sortTable(10)">Jezik</th>
							<th onclick="sortTable(11)">Prosecna ocena knjige</th>
							<th onclick="sortTable(12)">Broj primeraka</th>
							<th onclick="sortTable(13)">Zanr</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="knjigeTabela">
						<tr th:each="korpa: ${listaKorpa}">
						<td th:text="${korpa.korisnik.id}" class="korisnikId" hidden>Id</td>
							<td th:text="${korpa.knjiga.isbn}" class="knjigaId">ISBN</td>
							<td th:text="${korpa.knjiga.naziv}">Naziv</td>
							<td th:text="${korpa.knjiga.izdavackaKuca}">Izdavacka kuca</td>
							<td th:text="${korpa.knjiga.autor}">Autor</td>
							<td th:text="${korpa.knjiga.godinaIzdavanja}">Godina
								izdavanja</td>
							<td th:text="${korpa.knjiga.kratakOpis}">Kratak opis</td>
							<td th:text="${korpa.cena}" class="cena">Cena</td>
							<td th:text="${korpa.knjiga.brojStranica}">Broj stranica</td>
							<td th:text="${korpa.knjiga.povez}">Povez</td>
							<td th:text="${korpa.knjiga.pismo}">Pismo</td>
							<td th:text="${korpa.knjiga.jezik}">Jezik</td>
							<td th:text="${korpa.knjiga.prosecnaOcenaKnjige}">Prosecna
								ocena knjige</td>
							<td th:text="${korpa.brojPrimeraka}">Broj primeraka</td>
							<td><p th:each="zanr: ${korpa.knjiga.zanrovi}"
									th:text="${zanr.ime}"></p></td>
									<td><button class="btn btn-danger btn-obrisi" type="button">Obrisi</button></td>
						</tr>
					</tbody>
				</table>
				<form th:action="@{/kupljenaKnjiga}" method="post"
					style="max-width: 600px; margin: 0 auto">
					<input id="korpaKorisnikId" type="text"
						th:value="${#request.userPrincipal.principal.KorisnikId}"
						name="korisnik_id" hidden />
					<div class="form-group row" th:if="${#request.userPrincipal.principal.hasLoyaltyKartica}">
						<label class="col-form-label col-4" th:text="'Poeni na kartici: ' + ${loyalty.brojPoena}"></label>
						<div class=col-8>
							<select name="brojPoena" id="brojPoena" class="form-control">
							<option value="0"> -- izaberi popust -- </option>
								<option
									th:each="entry, stats : ${mapaPopust}"
									th:value="${entry.value}" th:text="${entry.key}"></option>
							</select>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Kupi knjige</button>
					</div>
				</form>
			</div>
		</div>
		<div th:if="${listaKorpa.empty}">
		<p>Vasa korpa je prazna </p>
		</div>
	</div>

		<div th:replace="template :: scriptFrag"></div>
	


</body>
</html>