<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
	<script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src = "@{/js/index.js}"></script>
<title>Lista zelja</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
			<div class="alert alert-success alert-dismissible fade show"
			role="alert" th:if="${successMessage!=null}">
			<strong th:text="${successMessage}"></strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div th:if="${#request.userPrincipal.principal.isKupac()}">
			<h1>Lista zelja</h1>
		</div>
		<div th:if="${listaZelja!=null and !listaZelja.empty}">
			<div>
				<input id="pretraga" type="text" placeholder="Pretraga...">
				<br> <br>
			</div>
		
			<div>
				<table class="table table-striped table-bordered tabela-prikaz-knjige">
					<thead class="thead-dark">
						<tr>
							<th>ISBN</th>
							<th>Naziv</th>
							<th>Izdavacka kuca</th>
							<th>Autor</th>
							<th>Godina izdavanja</th>
							<th>Kratak opis</th>
							<th>Cena</th>
							<th>Broj stranica</th>
							<th>Povez</th>
							<th>Pismo</th>
							<th>Jezik</th>
							<th>Prosecna ocena knjige</th>
							<th>Broj primeraka</th>
							<th>Zanr</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="knjigeTabela">
						<tr th:each="zelja: ${listaZelja}">
						<td th:text="${zelja.korisnik.id}" class="korisnikId" hidden>Id</td>
							<td th:text="${zelja.knjiga.isbn}" class="knjigaId">ISBN</td>
							<td><a th:href="@{'/knjiga/' + ${zelja.knjiga.isbn}}"
							th:text="${zelja.knjiga.naziv}">Naziv</td>
							<td th:text="${zelja.knjiga.izdavackaKuca}">Izdavacka kuca</td>
							<td th:text="${zelja.knjiga.autor}">Autor</td>
							<td th:text="${zelja.knjiga.godinaIzdavanja}">Godina
								izdavanja</td>
							<td th:text="${zelja.knjiga.kratakOpis}">Kratak opis</td>
							<td th:text="${zelja.knjiga.cena}" class="cena">Cena</td>
							<td th:text="${zelja.knjiga.brojStranica}">Broj stranica</td>
							<td th:text="${zelja.knjiga.povez}">Povez</td>
							<td th:text="${zelja.knjiga.pismo}">Pismo</td>
							<td th:text="${zelja.knjiga.jezik}">Jezik</td>
							<td th:text="${zelja.knjiga.prosecnaOcenaKnjige}">Prosecna
								ocena knjige</td>
							<td th:text="${zelja.knjiga.brojPrimeraka}">Broj primeraka</td>
							<td><p th:each="zanr: ${zelja.knjiga.zanrovi}"
									th:text="${zanr.ime}"></p></td>
									<td><button class="btn btn-danger btn-obrisi-lista-zelja" type="button">Obrisi</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${listaZelja.empty}">
		<p>Vasa lista zelja je prazna </p>
		</div>
	</div>

		<div th:replace="template :: scriptFrag"></div>
	


</body>
</html>