<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Loyalty kartice</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center" th:if="${#request.userPrincipal.principal.isAdmin()}">
		<div>
			<h1>Loyalty kartice</h1>
		</div>
		<div th:if="${mapaKartica!=null and !mapaKartica.empty}">
			<div>
				<input id="pretraga" type="text" placeholder="Pretraga...">
				<br> <br>
			</div>
			<div class="sortDugmeKartica">
				<button class="btn btn-primary" id="prikaziSveKartice" type="button">Prikazi
					sve kartice</button>
				<button class="btn btn-success" id="prikaziOdobreneKartice"
					type="button">Prikazi odobrene kartice</button>
				<button class="btn btn-warning" type="button"
					id="prikaziZahteveZaKartice">Prikazi zahteve za kartice</button>
				<button class="btn btn-danger" type="button"
					id="prikaziOdbijeneKartice">Prikazi odbijene kartice</button>
			</div>

			<div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Id</th>
							<th>Broj poena</th>
							<th>Kupac</th>
							<th>Email kupca</th>
							<th>Status kartice</th>
						</tr>
					</thead>
					<tbody id="loyaltyKarticeTabela">
						<tr th:each="entry, stats : ${mapaKartica}"
							th:with="kartica=${entry.value}" class="redKartica">
							<td class="kartica-id" th:text="${kartica.id}">Id</td>
							<td th:text="${kartica.brojPoena}">Broj poena</td>
							<td th:text="${entry.key.ime} + ' ' + ${entry.key.prezime}">Kupac</td>
							<td th:text="${entry.key.email}">Email kupca</td>
							<td th:text="${kartica.statusKartice}"
								th:classappend="|${kartica.statusKartice.toString().equals('NA_CEKANJU') ? 'status-na-cekanju' : ' '} ${kartica.statusKartice.toString().equals('ODBIJEN') ? 'status-odbijen' : ' '} ${kartica.statusKartice.toString().equals('ODOBREN') ? 'status-odobren' : ' '}|">Status
								kartice</td>
							<td
								th:if="${kartica.statusKartice.toString().equals('NA_CEKANJU')}" class="odobrenje-zahteva">
								<button class="btn btn-primary prosledi-zahtev" type="button"
									data-value="1">Potvrdi</button>
								<button class="btn btn-danger prosledi-zahtev" type="button"
									data-value="2">Ponisti</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="template :: scriptFrag"></div>
	<script>
	$(document).ready(function () {
		$("#pretraga").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#loyaltyKarticeTabela tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				});
		});
		
		$('.prosledi-zahtev').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();
			var loyaltyStatusTableRow = $(this).closest("tr").find(".status-na-cekanju");
			var odobrenjeZahtevaTableRow = $(this).closest("tr").find(".odobrenje-zahteva");
			var loyaltyId = $(this).closest("tr").find(".kartica-id").text();
			var statusKartice = $(this).data("value");
		     $.ajax({
		      
		            url: `/admin/loyaltyStatus?loyaltyId=${loyaltyId}&statusKartice=${statusKartice}`,
		             type: 'GET',
					dataType: 'json',
				contentType:'application/json',
				complete: function(statusKartice){
				window.location.reload();
	            	},
		          
		        });
		    }); 
	});
	</script>
		<script>
	$(document).ready(function () {
			var odobreneKartice = $("#loyaltyKarticeTabela").find(".status-odobren").parent();
			var zahtevKartice = $("#loyaltyKarticeTabela").find(".status-na-cekanju").parent();
			var odbijeneKartice = $("#loyaltyKarticeTabela").find(".status-odbijen").parent();
		
		$('#prikaziSveKartice').on('click', function (e) {
				odobreneKartice.show();
				zahtevKartice.show();
				odbijeneKartice.show();		
		    }); 
		$('#prikaziOdobreneKartice').on('click', function (e) {
			odobreneKartice.show();
			zahtevKartice.hide();
			odbijeneKartice.hide();		
	    }); 
		$('#prikaziOdbijeneKartice').on('click', function (e) {
			odobreneKartice.hide();
			zahtevKartice.hide();
			odbijeneKartice.show();		
	    }); 
		$('#prikaziZahteveZaKartice').on('click', function (e) {
			odobreneKartice.hide();
			zahtevKartice.show();
			odbijeneKartice.hide();	
	    }); 
	});
	</script>
</body>
</html>