<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Knjizara - Kupovine</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1 th:text="${kupovina.korisnik.email} + ' ' + ${kupovina.vremeKupovine}"></h1>
		</div>	
		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Naziv</th>
						<th>Autor</th>
						<th>Ukupna cena</th>
						<th>Ukupan broj knjiga</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="kupovina: ${kupljeneKnjige}">
						<td><a th:href="@{'/knjiga/' + ${kupovina.knjiga.isbn}}"
							th:text="${kupovina.knjiga.naziv}">Naziv</a></td>
						<td th:text="${kupovina.knjiga.autor}">Autor</td>
						<td th:text="${kupovina.ukupnaCena}">Ukupna cena</td>
						<td th:text="${kupovina.ukupanBrojKnjiga}">Ukupan broj knjiga</td>										
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td th:text="${ukupnaCenaKnjiga}"></td>
						<td th:text="${ukupanBrojPrimerakaKnjiga}">Ukupan broj knjiga</td>										
					</tr>
				</tbody>
			</table>
		
		</div>
	</div>
<div th:replace="template :: scriptFrag"></div>
</body>
</html>