<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Knjizara - Kupovine</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Kupovine</h1>
		</div>
		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Datum i vreme kupovine</th>
						<th>Ukupna cena</th>
						<th>Ukupan broj knjiga</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="kupovina: ${kupovine}">
						<td><a th:href="@{'/knjige/kupovina/' + ${kupovina.kupovinaId}}"
							th:text="${kupovina.vremeKupovine}">Datum i vreme kupovine</a></td>
						<td th:text="${kupovina.ukupnaCenaKupovina}">Ukupna cena</td>
						<td th:text="${kupovina.brojKupljenihKnjiga}">Ukupan broj
							knjiga</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="template :: scriptFrag"></div>
</body>
</html>