<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Knjizara - Kupovine</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Lista kupovina</h1>
			<h1 th:if="${pocetak!=null}" th:text="'u periodu od ' + ${pocetak} + ' do ' + ${kraj}"></h1>
		</div>
			<form th:action="@{/admin/prikaziKupovine}" method="post"
					style="max-width: 600px; margin: 0 auto">
					 <input
						id="startDate" type="date"
						th:value="${pocetak}"
						name="startDate" />
						<input
						id="endDate" type="date"
						th:value="${kraj}"
						name="endDate" />
				<div>
						<button type="submit" class="btn btn-primary">Pretrazi po
							datumu</button>
					</div>
					</form>
					
		<div>
			<table class="table table-striped table-bordered" id="tabelaSort">
				<thead class="thead-dark">
					<tr>
						<th>Naziv</th>
						<th>Autor</th>
						<th onclick="sortTable(2)">Ukupna cena <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
						<th onclick="sortTable(3)">Ukupan broj knjiga <i
							class="fas fa-sort text-right" style="cursor: pointer;"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kupovina: ${kupljeneKnjige}">
						<td><a th:href="@{'/knjiga/' + ${kupovina.knjiga.isbn}}"
							th:text="${kupovina.knjiga.naziv}">Naziv</a></td>
						<td th:text="${kupovina.knjiga.autor}">Autor</td>
						<td th:text="${kupovina.ukupnaCena}">Ukupna cena</td>
						<td th:text="${kupovina.ukupanBrojKnjiga}">Ukupan broj knjiga</td>										
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td th:text="${ukupnaCenaKnjiga}"></td>
						<td th:text="${ukupanBrojPrimerakaKnjiga}">Ukupan broj knjiga</td>										
					</tr>
				</tbody>
			</table>
		
		</div>
	</div>
<div th:replace="template :: scriptFrag"></div>
	<script>
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("tabelaSort");
			switching = true;
			// Set the sorting direction to ascending:
			dir = "asc";
			/* Make a loop that will continue until
			no switching has been done: */
			while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.rows;
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i = 1; i < (rows.length - 2); i++) {
					// Start by saying there should be no switching:
					shouldSwitch = false;
					/* Get the two elements you want to compare,
					one from current row and one from the next: */
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					var cmpX=isNaN(parseFloat(x.innerHTML))?x.innerHTML.toLowerCase():parseFloat(x.innerHTML);
                    var cmpY=isNaN(parseFloat(y.innerHTML))?y.innerHTML.toLowerCase():parseFloat(y.innerHTML);
					/* Check if the two rows should switch place,
					based on the direction, asc or desc: */
					if (dir == "asc") {
						if (cmpX > cmpY) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					} else if (dir == "desc") {
						if (cmpX < cmpY) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					// Each time a switch is done, increase this count by 1:
					switchcount++;
				} else {
					/* If no switching has been done AND the direction is "asc",
					set the direction to "desc" and run the while loop again. */
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
</body>
</html>