<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Registracija - Knjizara</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h1>Registracija korisnika - Prijava</h1>
		</div>
		<div>
			<h3>
				<a th:href="@{/}">Pocetna</a>
			</h3>
		</div>
		<form th:action="@{/proces_registracije}" method="post"
			style="max-width: 600px; margin: 0 auto" th:object="${korisnik}">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Korisnicko ime</label>
					<div class=col-8>
						<input type="text" class="form-control"
							th:field="*{korisnickoIme}" required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">E-mail</label>
					<div class=col-8>
						<input type="email" class="form-control" th:field="*{email}"
							required />
					</div>
				</div>
			</div>
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Lozinka</label>
					<div class=col-8>
						<input type="password" class="form-control" th:field="*{lozinka}"
							required minlenght="6" maxlenght="10" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Ime</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{ime}" required
							minlenght="2" maxlenght="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Prezime</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{prezime}"
							required minlenght="2" maxlenght="20" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Datum rodjenja</label>
					<div class=col-8>
						<input type="date" class="form-control"
							th:field="*{datumRodjenja}" value="2000-01-01" required
							min="1940-01-01" max="2021-01-01" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Adresa</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{adresa}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Broj telefona</label>
					<div class=col-8>
						<input type="text" class="form-control" th:field="*{brojTelefona}"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-4">Podnesi zahtev za loyalty karticu</label>
					<div class=col-8>
						<input type="checkbox" class="form-control" name="loyaltyKartica" />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Prijavi se</button>
				</div>
			</div>
		</form>
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>