<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<th:block th:fragment="header">
	<meta charset="UTF-8">
	<link th:rel="stylesheet"
		th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
		crossorigin="anonymous">
	<link th:rel="stylesheet" th:href="@{/css/main.css} " />
	
</th:block>
<title>Template</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary"
		th:fragment="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">Knjizara </a>
			</div>
			<ul class="nav navbar-nav">
				<li class="nav-item active"><a th:href="@{/knjige}">Knjige
				</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					th:href="@{/korpa}" th:if="${#request.userPrincipal.principal.isKupac()}">Korpa </a></li>
									<li class="nav-item" sec:authorize="isAuthenticated()"><a
					th:href="@{/listaZelja}" th:if="${#request.userPrincipal.principal.isKupac()}">Lista zelja </a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()" th:if="${#request.userPrincipal.principal.isAdmin()}"><a
					th:href="@{/korisnici}" th:if="${#request.userPrincipal.principal.isAdmin()}">Korisnici</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()" th:if="${#request.userPrincipal.principal.isAdmin()}"><a
					th:href="@{/admin/loyalty}" th:if="${#request.userPrincipal.principal.isAdmin()}">Loyalty kartice</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()" th:if="${#request.userPrincipal.principal.isAdmin()}"><a
					th:href="@{/admin/komentari}" th:if="${#request.userPrincipal.principal.isAdmin()}">Komentari na cekanju</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item" sec:authorize="isAnonymous()"><a
					th:href="@{/login}">Uloguj se </a></li>
				<li class="nav-item" sec:authorize="isAnonymous()"><a
					th:href="@{/registracija}">Registruj se </a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					th:href="@{/korisnici/profil}">Moj profil</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					th:href="@{/admin/prikaziKupovine}" th:if="${#request.userPrincipal.principal.isAdmin()}">Izvestaj kupovine</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					th:href="@{/logout}">Odjavi se </a></li>
			</ul>
		</div>
	</nav>
	<th:block th:fragment="scriptFrag">
		<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		<script th:href="@{/js/index.js}"></script>
	</th:block>
</body>
</html>