<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Uspesna registracija - Knjizara</title>
</head>
<body>
	<div class="container text-center">
		<div>
			<h3>Uspesno ste se registrovali!</h3>
			<h4><a th:href="@{/login}">Klikni za prijavu</a></h4>
		</div>
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>