<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<div th:replace="template :: header"></div>
<title>Dodaj u korpu - Knjizara</title>
</head>
<body>
	<div th:insert="template :: navbar"></div>
	<div class="container text-center">
		<div>
			<h3>Uspesno ste dodali artikal u korpu!</h3>
			<h4>
				<a th:href="@{/korpa}">Klikni za pregled korpe</a>
			</h4>
		</div>
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>